* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Geral */
body {
    background-color: #00000;
    font-family: "Zilla slab";
    line-height: 2.0rem;
}

/* Header */
header {
    text-align: center;
    padding: 1rem 0;
}

.subheader {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    background-color: #30332E;
    padding: 1rem;
}

.mood {
    font-weight: bold;
}

.social a {
    color: #bebebe;
    margin-left: 15px;
    text-decoration: none;
}

.social a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    width: 25%;
    background-color: #0B1009;
    color: #FFD4F8;
    padding: 20px;
    margin-right: 20px;
    border-radius: 16px;
}

/* Conteúdo principal */
.content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.slider img {
    width: 100%;
    border-radius: 10px;
    display: none;
}

.slider img:first-child {
    display: block;
}

.read-more {
    background-color: #FFD4F8;
    color: #0B1009;
    padding: 10px 15px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    color: #FFD4F8;
}
